.tippy-box[data-theme^="memo"] {
  --bg-color: var(--tc-select);

  @apply text-black border-solid border-memo-active;
  background-color: var(--bg-color);

  .tippy-content {
    @apply overflow-clip;
  }

  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: var(--bg-color);
  }
  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: var(--bg-color);
  }
  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: var(--bg-color);
  }
  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: var(--bg-color);
  }

  &[data-theme="memo-popup-bg"] {
    --bg-color: var(--tc-popup-bg);
  }
}
