.blink {
  animation-duration: 230ms;
  animation-name: blink;
  animation-iteration-count: 6;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  @apply outline outline-memo-active;
  outline-width: 0px;
  outline-offset: -1px;
}

@keyframes blink {
  to {
    @apply opacity-60;
    outline-width: 6px;
    outline-offset: -7px;
  }
}
