.blink {
  animation-duration: 230ms;
  animation-name: blink;
  animation-iteration-count: 6;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  @apply outline outline-4 outline-transparent;
  outline-offset: -4px;
}

@keyframes blink {
  to {
    @apply opacity-60 outline-memo-active;
    outline-offset: -6px;
  }
}
