@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@layer base {
  html {
    @apply font-roboto;
  }

  * {
    --sb-track-color: white;
    --sb-thumb-color: #fbd45f;
    --sb-size: 14px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  *::-webkit-scrollbar {
    width: var(--sb-size);
  }

  *::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 14px;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 14px;
    border: 3px solid var(--sb-track-color);
  }
}
