$border: rgba(92, 92, 92, 0.283);

.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: #f7f3e7;
  border-right: 1px solid $border;
  min-width: 270px;
  width: 270px;
  max-width: 270px;
  overflow-y: auto;
}

.navScroll {
  --sb-track-color: #f7f3e7;
}

.header {
  grid-area: header;
  border-bottom: 1px solid $border;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding: 1.5rem;
}

.main {
  grid-area: main;
  overflow: hidden auto;
}

.footer {
  grid-area: footer;
  border-top: 1px solid $border;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding: 1rem 1.5rem;
  color: #949494;
  // "py-4 px-6 bg-gray-300 flex flex-row justify-between items-center text-gray-500"
}
