Options -MultiViews -Indexes

DirectorySlash Off

RewriteEngine On
# pass url to php even if folder exists
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
