.tinyCalendar {
  @apply flex flex-col items-stretch gap-1;
  @apply m-1 font-medium text-sm;

  .header {
    @apply w-full flex items-stretch;
    @apply uppercase;

    button {
      @apply h-full px-0.5 py-1 rounded grow-0 uppercase hover:bg-hover;
      svg {
        @apply mb-0.5;
      }
    }

    .date {
      @apply grow px-1 flex items-center align-middle gap-1 justify-between;
    }
  }

  .days {
    @apply grid;
    grid-template-columns: repeat(7, 1fr);

    .weekday {
      @apply w-full text-center;
      @apply text-xs text-gray-900 text-opacity-70;
      @apply uppercase;

      &.weekend {
        @apply text-red-800 text-opacity-70;
      }
    }

    .day {
      @apply w-full text-center;
      @apply text-gray-900;
      @apply relative;

      &.hover {
        @apply bg-hover;
        &.start {
          @apply rounded-s;
        }
        &.end {
          @apply rounded-e;
        }
      }

      .inner {
        @apply w-full h-full px-1.5;
        padding-top: 3px;
        padding-bottom: 1px;

        &.selected {
          @apply bg-select;
          &.start {
            @apply rounded-s;
          }
          &.end {
            @apply rounded-e;
          }
        }
      }

      &.weekend {
        @apply text-red-800;
      }
      &.holiday {
        @apply text-red-800 underline;
      }
      // Keep this rule below any text color changes.
      &.otherMonth {
        @apply text-opacity-50;
      }

      .todayMark {
        @apply absolute w-full h-full border  border-red-700;
        border-width: 2px;
        border-radius: 100%;
      }
    }
  }
}
