.filter {
  input {
    @apply px-1;

    &[type="number"] {
      @apply pr-0;
    }
  }

  .dateInputContainer {
    min-width: 8rem;
  }

  .dateTimeInputContainer {
    min-width: 11rem;
  }

  .filterLine,
  &.filterLine {
    @apply flex flex-wrap items-stretch gap-0.5 min-h-small-input;

    .wideEdit {
      @apply flex-grow basis-12;
    }
  }

  .valuesSyncer {
    width: 5px;
    height: 55%;
    @apply row-span-2 self-center;
    @apply border-2 border-r-0 border-current text-black text-opacity-30 cursor-pointer;
    border-start-start-radius: 3px;
    border-end-start-radius: 3px;

    &.inactive {
      @apply text-opacity-5 cursor-auto;
    }
  }
}
