.tableContainer {
  @apply flex flex-col items-stretch gap-1;

  > .aboveTable,
  > .belowTable {
    @apply basis-0;
  }

  > .scrollingWrapper {
    @apply overflow-x-auto;

    > .scrollToTopElement {
      @apply w-max;

      > .tableBg {
        @apply w-max bg-gray-300 mr-16;

        > .table {
          @apply grid p-px gap-px;

          > .headerRow {
            @apply contents;

            > .cell {
              @apply outline outline-1 outline-gray-400 bg-gray-100;
              min-height: 2em;
            }
          }

          > .dataRow {
            @apply contents;

            > .cell {
              @apply bg-white text-black rounded-sm overflow-hidden;
              min-height: 2em;
            }

            &:hover > .cell {
              background-color: color-mix(in srgb, theme("colors.hover") 60%, white);
            }
          }

          > .wideRow {
            grid-column: 1 / -1;
            @apply bg-white p-2 text-gray-500;
          }

          > .bottomBorder {
            grid-column: 1 / -1;
            @apply border-b border-b-gray-300;
            margin-top: -5px;
          }

          &.dimmed {
            > .dataRow > .cell {
              @apply bg-opacity-70 text-opacity-30;
            }
          }
        }
      }
    }
  }

  &.standalone {
    @apply w-full h-full p-2 pr-0;

    > .aboveTable,
    > .belowTable {
      @apply pr-2;
    }

    > .scrollingWrapper > .scrollToTopElement > .tableBg > .table {
      > .headerRow > .cell {
        @apply sticky top-px;
      }
      > .bottomBorder {
        @apply sticky;
        bottom: 0.5px;
      }
    }
  }
}
