.tableContainer {
  @apply flex flex-col items-stretch gap-1;

  > .aboveTable,
  > .belowTable {
    @apply basis-0;
  }

  > .tableMain {
    @apply grid min-h-0;

    > .scrollingWrapper {
      @apply row-start-1 col-start-1 overflow-x-auto;

      > .scrollToTopElement {
        @apply w-max;

        > .tableBg {
          @apply w-max bg-gray-300 mr-16;

          > .table {
            @apply grid p-px gap-px;

            > .headerRow {
              @apply max-h-60 col-span-full grid grid-flow-col grid-cols-subgrid;
              @apply outline outline-1 outline-gray-400 bg-gray-400;

              > .cell {
                @apply bg-gray-100;
                min-height: 2em;
              }
            }

            > .dataRow {
              @apply contents;

              > .cell {
                @apply bg-white text-black rounded-xs overflow-x-hidden overflow-y-auto;
                min-height: 2em;
              }

              &:hover > .cell {
                background-color: color-mix(in srgb, theme("colors.hover") 60%, white);
              }
            }

            > .wideRow {
              @apply col-span-full bg-white p-2 text-grey-text;
            }

            > .bottomBorder {
              @apply col-span-full border-b border-b-gray-300;
              margin-top: -5px;
            }
          }
        }
      }
    }

    > .dimmingPane {
      @apply row-start-1 col-start-1 pointer-events-none relative;
    }
  }

  &.standalone {
    @apply w-full h-full p-2 pr-0;

    > .aboveTable,
    > .belowTable {
      @apply pr-2;
    }

    > .tableMain > .scrollingWrapper > .scrollToTopElement > .tableBg > .table {
      > .headerRow {
        @apply sticky top-px;
      }
      > .bottomBorder {
        @apply sticky bottom-0;
      }
    }
  }
}
